<div id="slider1">
        <ul id="slider1Content">
            <li class="slider1Image">
                <a href=""><%= image_tag '1.jpg' %></a>
                <span class="left"><strong>Title text 1</strong><br />Content text...</span></li>
    <li class="slider1Image">
                <a href=""><%= image_tag '1.jpg' %></a>
                <span class="left"><strong>Title text 1</strong><br />Content text...</span></li>          
            <div class="clear slider1Image"></div>
        </ul>
    </div>

<h1>Articles</h2>


  <% for article in @articles %>
    <h2><%=link_to article.title , article_path(article) %></h2>
      <p>
      	<% id = article.content.index("<!-- pagebreak -->") + 2 %>
        <%= truncate(article.content , id) %>
     </p>
      <%=link_to :Lire_la_suite , article_path(article) %>
  <% end %>

<p><%= link_to "New Article", new_article_path %></p>
