<div id="slider1">
        <ul id="slider1Content">
          <% for article in @articles %>
             <li class="slider1Image">
                <%= link_to (image_tag(article.image.url(:original)) ,  
                                      article_url(article) )%>
                <span class="<%= cycle (:top , :bottom)%>">
                 <strong><%= link_to article.title , article_path(article) %></strong><br />
                 <%= truncate(article.content , 200) %>
                 <%= readmore(article)%>
                </span>                	
             </li>    
           <% end %>
            <div class="clear slider1Image"></div>
        </ul>
    </div>

<!-- RENDERING MAIN PAGE ARTICLES -->
  <% for article in @articles %>
	<%= push_articles(article) %>
  <% end %>
<!-- END RENDERING MAIN PAGE ARTICLES -->
