<div id="slider1">
        <ul id="slider1Content">
          <% for article in @articles %>
             <li class="slider1Image">
                <%= link_to (image_tag(article.image.url(:original)) ,  
                                      article_url(article) )%>
                <span class="<%= cycle (:top , :bottom)%>">
                 <strong><%= link_to article.title %></strong><br />
                 <%= truncate(article.content , 200) %>
                </span>                	
             </li>    
           <% end %>
            <div class="clear slider1Image"></div>
        </ul>
    </div>

<h1>Articles</h2>
<!-- RENDERING MAIN PAGE ARTICLES -->
  <% for article in @articles %>
	<%= push_articles(article) %>
  <% end %>
<!-- END RENDERING MAIN PAGE ARTICLES -->
<p><%= link_to "New Article", new_article_path %></p>
