<div id="slider1">
        <ul id="slider1Content">
          <% for article in @articles %>
             <li class="slider1Image">
                <%= link_to (image_tag(article.image.url(:original)) ,  
                                      article_path(article) )%>
                <span class="<%= cycle (:top , :bottom)%>">
                 <strong>
                 	<%= link_to article.title , article_path(article) %>               				 </strong><br />
                 <%= truncate(article.content , 200) %>
                 <%=link_to :Lire_la_suite , article_path(article) %>
                </span>                	
             </li>    
           <% end %>
            <div class="clear slider1Image"></div>
        </ul>
    </div>

<h1>Articles</h2>


  <% for article in @articles %>
    <h2><%=link_to article.title , article_path(article) %></h2>
      <p>
      	<% id = article.content.index("<!-- pagebreak -->") + 2 %>
        <%= truncate(article.content , id) %>
     </p>
      <%=link_to :Lire_la_suite , article_path(article) %>
  <% end %>

<p><%= link_to "New Article", new_article_path %></p>
